*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-container {
    height: 100vh;
    width: 100%;
    background-image: url("images/arcade.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

h1{
    text-align: center;
    color: grey;
}




